{% extends 'base.html' %}

{% load static %}

{% load crispy_forms_tags %}

{% block title %} | Students {% endblock title %}

{% block content %}

    <div class="container">
        <div>
            <div class="card-body">
                <img src="{% static 'img/logo.png' %}" class="logo" alt="login" />
                <br>
                <br>
                <h5>Student Information System</h5>
                    <!-- Notification for when a new account is made successfully --> 
                    
                    {% for message in messages %}

                        {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                        <br> 
                            <p id="message-timer" class="alert alert-success float-center text-center message-text">{{message}}</p>
                        <br>
                        {% endif %}

                    {% endfor %}
                    <br>
                <form method = "post" novalidate>
                    {% csrf_token %}
                    {{ form|crispy }}
                    <br>
                    <button type = "submit" class="btn btn-primary">Log In</button>
                </form>
            </div>
        </div>
    </div>

<style>
    /* Base styles */
    .card-login {
        background-color: #f8f9fa; /* Set a background color */
        padding: 0px; /* Add padding to the card body */
        margin: 0; /* Center the card horizontally */
    }

    /* Responsive styles */
    @media (max-width: 576px) {
        /* Adjust styles for screens smaller than 576px (e.g., mobile devices) */
        .card-login {
            width: 100%; /* Make the card take the full width */
        }

        /* Additional styles for better responsiveness on small screens */
        .card-login form {
            margin-top: 15px; /* Add some spacing between form and top of the card */
        }

        .card-login button {
            margin-top: 15px; /* Add some spacing above the button */
        }
    }

    @media (min-width: 577px) {
        /* Adjust styles for screens larger than 576px (e.g., tablets and larger) */
        .card-login {
            width: 100%; /* Set a percentage width for larger screens */
        }
    }
</style>
<script src="{% static 'js/script.js' %}"></script>

{% endblock %}