{% load static %}

<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark custom-navbar sticky-top">
    <div class="container">
        {% if user.is_authenticated %}  
            {% if user.groups.all.0.name == 'ADMIN' %}
                <a class="navbar-brand" href="{% url 'index' %}">
                    <img src="{% static 'img/logo.png' %}" class="logo" alt="logo">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <ul class="navbar-nav">
                    <li 
                    {% if '/' == request.path %}
                        class="nav-item active mr-3"
                    {% else %}
                        class="nav-item mr-3"
                    {% endif %}
                    >
                    <a class="nav-link" href="{% url 'index' %}">Home</a>
                    </li>

                    <li 
                    {% if '/students/' == request.path %}
                        class="nav-item active mr-3"
                    {% else %}
                        class="nav-item mr-3"
                    {% endif %} 
                    >
                    <a class="nav-link" href="{% url 'students' %}">Students</a>
                    </li>

                    <li 
                    {% if '/reports/' == request.path %}
                        class="nav-item active mr-3"
                    {% else %}
                        class="nav-item mr-3"
                    {% endif %} 
                    >
                    <a class="nav-link" href="{% url 'reports' %}">Reports</a>
                    </li>

                    <li 
                    {% if '/accounts/teachers/' == request.path %}
                        class="nav-item active mr-3"
                    {% else %}
                        class="nav-item mr-3"
                    {% endif %} 
                    >
                    <a class="nav-link" href="{% url 'teachers' %}">Teachers</a>
                    </li>

                    <li 
                    {% if '/classrooms/' == request.path %}
                        class="nav-item active mr-3"
                    {% else %}
                        class="nav-item mr-3"
                    {% endif %} 
                    >
                    <a class="nav-link" href="{% url 'classrooms' %}">Classrooms</a>
                    </li>

                </ul>
            {% elif user.groups.all.0.name == 'TEACHER' %}
                <a class="navbar-brand" href="{% url 'teacher_page' %}">
                    <img src="{% static 'img/logo.png' %}" class="logo" alt="logo">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <ul class="navbar-nav">
                        <li 
                        {% if '/' == request.path %}
                            class="nav-item active mr-3"
                        {% else %}
                            class="nav-item mr-3"
                        {% endif %}
                        >
                        <a class="nav-link" href="{% url 'teacher_page' %}">Home</a>
                        </li>

                        <li 
                        {% if '/students/' == request.path %}
                            class="nav-item active mr-3"
                        {% else %}
                            class="nav-item mr-3"
                        {% endif %} 
                        >
                        <a class="nav-link" href="{% url 'students' %}">Students</a>
                        </li>

                        <li 
                        {% if '/reports/' == request.path %}
                            class="nav-item active mr-3"
                        {% else %}
                            class="nav-item mr-3"
                        {% endif %} 
                        >
                        <a class="nav-link" href="{% url 'reports' %}">Reports</a>
                        </li>

                    </ul>
                
            {% endif %}

                <ul class="navbar-nav ml-auto">

                    <li class="nav-item dropdown mr-3">
                        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-user-circle"></i> {{ user.username }}
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                            <a class="dropdown-item" href="{% url 'edit_teacher' user.id %}">
                                <i class="fas fa-user-edit"></i> Edit Profile
                            </a>
                            <a class="dropdown-item" href="{% url 'password_change' %}">
                                <i class="fas fa-key"></i> Change Password
                            </a>
                            <a class="dropdown-item" href="javascript:{document.getElementById('logout').submit()}">
                                <i class="fas fa-sign-out-alt"></i> Logout
                            </a>
                        </div>
                    </li>
                    
                    <!-- Hidden logout form -->
                    <form action="{% url 'logout' %}" method="POST" id="logout" style="display: none;">
                        {% csrf_token %}
                    </form>
                </ul>

            
            

        {% else %}
        
            <ul class="navbar-nav ml-auto">
                <!-- Register and Login buttons -->
                <li class="nav-item mr-3">
                    <a class="nav-link" href="{% url 'register' %}">
                        <i class="fas fa-user-plus"></i> Register</a>
                    </li>
                    <li class="nav-item mr-3">
                    <a class="nav-link" href="{% url 'login' %}">
                        <i class="fas fa-sign-in-alt"></i>
                        Login</a>
                </li>
            </ul>

        {% endif %}
        </div>
    </div>
    </nav>