{% extends 'base.html' %}
{% load static %}

{% block title %} | Students {% endblock title %}

{% block head_block %}
<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/2.2.9/css/responsive.dataTables.min.css">
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
{% endblock %}

{% block content %}
<section id="showcase-inner" class="py-2 text-white">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-12">
                <h1 class="display-4">Students</h1>
                <p class="lead">View all the students from VRCNHS</p>
            </div>
        </div>
    </div>
</section>
<div class='container'>
    <!-- MESSAGES -->
    <br>
    <!-- STUDENTS -->
    <div class='table-responsive'>
        <table id="studentTable" class="table table-striped">
            <thead>
                <tr>
                    <th>LRN</th>
                    <th>Name</th>
                    <th>Status</th>
                    <th>Age</th>
                    <th>Grade & Section</th>
                    <th>General Average</th>
                    <th>Detail</th>
                </tr>
            </thead>
            <tbody>
                {% if students %}
                    {% for student in students %}
                        <tr>
                            <td>{{ student.LRN }}</td>
                            <td>{{ student.last_name }}
                                {% if student.suffix_name %} {{ student.suffix_name }}{% endif %}
                                {% if student.first_name %}, {{ student.first_name }}{% endif %}
                                {% if student.middle_name %} {{ student.middle_name }}{% endif %}
                            </td>
                            <td>{{ student.status }}</td>
                            <td>{{ student.age }}</td>
                            <td>{{ student.gradelevel.grade }} {{ student.classroom }}</td>
                            <td>{{ student.general_average }}</td>
                            <td>
                                <a href="#" class="btn btn-primary view-button">
                                    View Profile
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="7" class="text-center">No Students in the Database</td>
                    </tr>
                {% endif %}
            </tbody>
        </table>
    </div>
    <br>
    <section>
        <div class="card-container">
            <!-- Card 1 -->
            <div class="card">
                <h1 class="dynamic-text"><b>Create Student</b></h1>
                <h6>You may manually add a student here.</h6>
                <br>
                {% comment %} {% url 'add_student' %} {% endcomment %}
                <form action="#" method="get">
                    <button type="submit" class="btn btn-primary">
                        Add Student
                    </button>
                </form>
                <br>
            </div>

            <!-- Card 2 -->
            <div class="card">
                <h1 class="dynamic-text"><b>Import Students</b></h1>
                <!-- IMPORT -->
                <h6>Import students using Excel (.xlsx) files. Please use <a href="#" download>This Template</a> before uploading below.</h6>
                {% comment %} action = '{% url 'import_students' %}' {% endcomment %}
                <form method="post" enctype="multipart/form-data" action="#">
                    {% csrf_token %}
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" id="customFile" name="myfile" required>
                        <div>
                            <label class="custom-file-label" for="customFile">Choose file</label>
                        </div>
                    <br>
                    </div>
                    <button type="submit" class="btn btn-primary">Upload</button>
                </form>
            </div>

                    {% comment %} 
                    <div class="mb-3">
                        <label for="formFile" class="form-label">Upload Excel File of Students:</label>
                        <div class="file-upload-wrapper">
                            <input class="form-control" type="file" name="myfile" id="formFile" required>
                        </div>
                    </div> 
                    {% endcomment %}


            <!-- Card 3 -->
            <div class="card">
                <h1 class="dynamic-text"><b>Export all Students</b></h1>
                <h6>EXPORT STUDENTS using Excel (.xlsx) files. for your own local backup.</a></h6>
                <br>
                {% comment %} {% url 'export_students' %} {% endcomment %}
                <a href="#">
                    <button type="button" class="export-button">
                        EXPORT
                    </button>
                </a>
                <br>
            </div>
        </div>
    </section>

</div>
{% endblock %}
