{% extends 'base.html' %}

{% load static %}

{% block title %} | Students {% endblock title %}

{% block content %}
<br>
  <div class="container">
      <div>
          <div class="d-flex justify-content-center align-items-center vh-100">
              <div class="card-register">
                  <div class="card-header bg-success text-white text-center">
                      <h5>Teacher Registration</h5>
                  </div>                                     
                  <div class="card-body">
                      {% include 'partials/_alerts.html' %}
                      <form action="{% url 'register' %}" method="POST">
                          {% csrf_token %}
                          {{ form.as_p }}
                          <button type="submit" class="btn btn-secondary btn-block d-flex justify-content-center align-items-center">
                              <i class="fas fa-sign-in-alt mr-2"></i> Register
                          </button>                            
                      </form>
                  </div>
              </div>
          </div>
      </div>
  </div>
<br>
{% endblock %}